@page
@model SnackisUppgift.Pages.Admin.SubjectAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" type="text/css" href="/path/to/styles.css">
</head>

<h1>Directory</h1>

<p>
    <a asp-page="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Subject) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="edit-link">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
